body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(94, 66, 46); 
    margin-top: 12%; 
    margin-left: 15%; 
    display: block; 
    width: 39%; 
    font-size: 18px; 
    background-color: rgba(250, 226, 226, 0.333); 

}

#main, #main2, #main3, #main4 {
    margin: 4%; 
}

#all {
    display: flex;
    flex-direction: column; 
    
}

#nav {
    text-decoration: none;
    
}

#main-about {
    display: block; 
    cursor: pointer; 
    font-weight: bold;
     
}

#about {
    display: none; 
    margin-left: 3%;   
}

#main-projects{
    display: block; 
    cursor: pointer; 
    font-weight: bold;

}

#projects {
    display: none; 
    margin-left: 3%; 
}

#main-contact {
    display: block; 
    cursor: pointer; 
    font-weight: bold; 

}

#contact {
    display: none; 
    margin-left: 3%; 
}

#linkedin :any-link {
    color: gray; 

}
#main-info {
    font-weight: bold; 
    
}

#info {
    margin-left: 3%; 
    
}

a{
    text-decoration: none;


}
a :active {
    color: black;

}