body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: black; 
}

#nav {
    text-decoration: none;
    
}

#main-about {
    display: none; 
}

#main-info {
    margin-left: 3%; 
}
a{
    text-decoration: none;
    
}
a :active {
    color: black;

}